*{
  box-sizing: border-box;
}

/*UTILITIES*/

.debug{
  background-color: coral;
  border: 1px solid black;
}

.tg{
  color: rgb(32, 31, 31);
}

/*STYLES*/

header{
  height: 60px;
}

.row{
  width: 100vw;
}

#logo-mobile{
  height: 30px;
}

.fa-bell{
  color: rgb(247, 139, 0);
}

